
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: "Poppins", sans-serif;
	font-size:1rem;
	
}

h1,h2,h3,h4{
	color: ;
	font-weight: 600;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

#home, #about, #services, #proj, #contactme,#fter{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 4rem;
	/*padding-bottom: 5rem;*/
}
#about, #services, #proj,#contactme{
	margin-top: 4rem;
}

#logo{
	color: white;
	width: 40px;
}

#btnContact {
  background-color: #1572A1; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
#btnContact:hover {
  background-color: #9AD0EC;
  color: black;
  font-weight: bold;
}

#topNavBar{
	background-color: #1572A1;

}

#topNavBar .nav-link{
	color: white;
}


/*#btnDown{
	margin-left: 10%;
	font-size: 15px;
	color:black;
}
#btnDown:hover {
	text-decoration: none;
}*/

#services .btnV{
	font-size: 14px;
	color: #D96098;
	padding-left: 0;
}
#services .btnV:hover {
	text-decoration: none;
}
#cardIcon{
	width: 50px;
	margin-left: 1rem;
	margin-top: 1rem;
}
#services .card{
	width: 98%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 85%;
}

/*.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c593d8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
 
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c593d8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}*/

.carousel-indicators li{
		display: inline-block;
    width: 12px;
    height: 12px;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #D96098;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-inner{
	padding-bottom: 5rem;
}

#txtName, #txtEmail{
	height:3rem;
}



.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#locIcon{
	height: 100px;
}

#fter{
	background-color: #EEEEEE	;
	height: 100px;
}

#modalH, #modalBtn{
	background-color: #1572A1;
	color: white;
}